
body {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  color: #351d77;
  background-color: white;
  margin: 0;
}


header {
  background-color: #ec91c4;
  padding-top: 30px;
  padding-bottom: 60px;
}

header, #me-working, #about, #skills-and-tools, #projects, #contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
} 

.content-wrapper {
  width: 85%;
}

nav {
  margin-bottom: 60px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header h1 {
  width: 100%;
}

h1 {
  margin: 0;
}

header h2 {
  width: 100%;
  margin-top: 60px;
  font-size: 1.25 rem;
  line-height: 1.5;
  font-weight: 400;
}

#about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

figure {
  margin: 20px 0 40px 0;
}

#working-image {
  width: 90%;
  vertical-align: middle;
}

#about {
  background-color: #ec91c4;
}

.about-info h3 {
  padding-top: 35px 0 35px 0;
  font-weight: bold;
}

.about-info p {
  text-align: justify;
}

.skills-header {
  margin-top: 60px;
  margin-bottom: 40px;
}

#skills-and-tools h4 {
  margin-bottom: 40px;
}

.language-wrapper p, .tool-wrapper p {
  background-color: #f4bedc;
  padding: 15px 0;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.125rem;
}

#skills-and-tools h3 {
  margin-top: 40px;
}

.project-header {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.project-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-piece figure {
  width: 100%;
}

img {
  width: 100%;
  vertical-align: middle;
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


