
/*--------Mobile version----------*/

/*--------General style-----------*/

body {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  color: #351d77;
  background-color: white;
  margin: 0;
}


header {
  padding-top: 30px;
  padding-bottom: 60px;
}

header, #about, #projects {
  background-color: #ec91c4;
}

header, #me-working, #about, #skills-and-tools, #projects, #contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
} 

.content-wrapper {
  width: 90%;
}

/*--------Nav style-----------*/

nav {
  padding-bottom: 60px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

nav #contact-link {
  background-color: #f4bedc;
  padding: 10px 10px;
  border-radius: 30px;
}

a:link, a:visited {
  color: #351d77;
  text-decoration: none;
}

a:hover, a:active {
  color: #f4bedc;
}

/*--------Header style-----------*/

header h1, h2 {
  width: 100%;
}

header h2 {
  margin-top: 60px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

#me-working {
  background-image: url("student-gb7c5662ec_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

figure {
  margin: 0;
}

/*--------About section-----------*/

#about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-info h3 {
  padding: 35px 0 35px 0;
  font-weight: bold;
}

.about-info p {
  text-align: justify;
}

/*--------Skills-----------*/

.skills-header {
  margin-top: 60px;
  margin-bottom: 40px;
}

#skills-and-tools {
  margin-bottom: 40px;
}

#skills-and-tools h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.language-wrapper p, .tool-wrapper p {
  background-color: #f4bedc;
  padding: 15px 0;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.125rem;
}

/*--------Projects-----------*/

.project-header {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-bottom: 40px;
}

.project-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-piece figure, img, .contact-info {
  width: 100%;
}

img {
  vertical-align: middle;
}

#projects p {
  text-align: justify;
}

#projects .span-left {
  width: 100%;
  text-align: left;
}

/*--------Footer style-----------*/

#contact h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 1.5;
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* Style adjustments for viewports that meet the condition */

  .content-wrapper {
    max-width: 640px;
  }

  nav ul {
    font-size: 1.125rem;
  }

  header h1 {
    font-size: 2rem;
  }
  
  header h2 {
    font-size: 1.3rem;
  }

  #me-working figure {
    width: 100%;
  }

  .language-wrapper, .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100%;
  }

  .language-wrapper p, .tool-wrapper p, .project-piece {
    width: 45%;
  }

  .project-wrapper {
    justify-content: space-around;
  }

  #github-span-left {
    padding: 18px 0 0 0;
  }
}


@media only screen and (min-width: 1200px) {

  header {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  .content-wrapper {
    max-width: 1000px;
  }

  header nav {
    width: 45%;
    justify-content: flex-end;
    margin-left: auto;
  }

  header h1 {
    font-size: 4rem;
  }

  header h2 {
    font-size: 2rem;
  }

  #about h1 {
    font-size: 3.75rem;
  }

  #about h3 {
    font-size: 2.75rem;
    font-weight: bold;
  }

  #about p {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  #skills-and-tools {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }

  #skills-and-tools .content-wrapper {
    max-width: 900px;
  }

  #skills-and-tools h2 {
    font-size: 2.75rem;
  }

  #skills-and-tools h3 {
    font-size: 1.75rem;
  }

  .skills-header {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .project-header {
    font-size: 2.75rem;
    margin-bottom: 60px;
  }

  .project-piece {
    width: 35%;
  }

  .project-piece h3, p {
    font-size: 1.25rem;
  }

  #contact h2 {
    font-size: 2.75rem;
  }

  .social-icons {
    width: 12.5em;
    margin: auto;
  }
}